.vscode-server/
Anaconda3-2024.10-1-Linux-x86_64.sh
anaconda3/
miniconda3/
.conda/
.cache/

__pycache__/
*.pyc
.ipynb_checkpoints/

yue_output*/
yue_test_inputs/
canto_project_official_yue_bridge_demo_v2/outputs/

*.mp3
*.wav
*.flac
*.npy
*.npz
*.pt
*.pth
*.ckpt
*.bin
*.safetensors
